/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.admin-container {
    display: flex;
  
}

.admin-menu {

   
    width: 200px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 100vh; /* 화면 높이를 최대한 활용 */
    position: fixed;
   
}

.admin-menu ul {
    
    margin-top: 150px;
    list-style-type: none;
    padding: 0;

}


.admin-list :hover {
   font-size: xx-large;
}


.admin-menu li {
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}

.admin-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
}

.movie-list {
    margin-left: 300px;
    flex: 1;
    padding: 20px;
    line-height: 50px;
}

.movie-search input {
    
    width: 40%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 5px;
    height: 30px;
}

.movie-item {
   
    width: 90%;
    height: 50px;
    border-radius: 7px;
    background-color: gray;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.movie-buttons {

    display: flex;
    font-weight: bold;
   
}

.edit-button {

    background-color: rgb(87, 87, 238);
    border: 2px solid black;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 7px;
    
}

.delete-button {

    background-color: red;
    border: 2px solid black;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 7px;
   
}




.movie-title {
    color: white;
    margin-left: 30px;
}

