body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}


.member-container {
    margin-left: 300px;
    display: flex;
    background-color: aqua;
    flex: 2;
  
}



.admin-menu {

   
    width: 200px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 100vh; /* 화면 높이를 최대한 활용 */
    position: fixed;
   
}

.admin-menu ul {
    
    margin-top: 150px;
    list-style-type: none;
    padding: 0;

}


.admin-list :hover {
   font-size: xx-large;
}


.admin-menu li {
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}

.admin-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
}





.member-search input {
    
    margin-left: 300px;
    flex: 1;
    padding: 20px;
    line-height: 50px;
    flex-basis: 40%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 1000px;
    border-radius: 5px;
    height: 30px;
   
}