* {
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    background-color: #101322;
    color: #FFFFFF;
    height: 6490px;

}

button {
    cursor: pointer;
}

header {
    
    height: 1.66%;
    display: flex;
  
    
}

header>a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}


/* 검색창 */
nav{
    width: 80%;
    padding-top: 1.5%;
    
}

nav>form{

    align-items: center;
    justify-content: center;
    display: flex;


}


#search{
    height: 60%;
    width: 80%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
  
}



input{
    width: 100%;
    height: 60%;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1% 6%;
    font-weight: bold;
}

#search>button{
    position: absolute;
    border: none;
    outline: none;
    background: none;
    margin-left: 90%;


}



nav>div:nth-child(2){

    height: 40%;
    display: flex;
    justify-content: center;
}


/* 검색창 밑 태그 */
nav>div:nth-child(2)>a{

    padding: 0 7%;

}





header>div{
    width: 20%;
    display: flex;
}


header>div>div{
    
    flex: 1;
 
    display: flex;
    align-items: end;

   
}

header>div>div:nth-child(1){

    align-items: center;


}


#login_button{

    height: 70%;
    width: 100%;
    border-radius: 30px 30px;
    font-size: 1.3rem;
    font-weight:bold;
    background-color: white;
    font-weight:bold;

}


#user_button{

    background: none;
    border: none;
    padding-bottom: 1%;

}

main{

    margin: 2% 8%;
   
    height: 90%;
    display: flex;
    flex-direction: column;

}


main>section{
  

   
   margin: 3% 0;
   background-color: #383B3E;
   border-radius: 20px;


}




/* 영화관 설명페이지*/

.cinema{



    height: 11.5%;
    display: flex;
    background-color: #6A5A56;
    
}



.cinema>div{
    flex: 1;


}




.cinema>div:nth-child(1){
 display: flex;
 justify-content: center;
 align-items: center;

}

#cgv_yongsan{

    width: 85%;
    height: 80%;

}


.cinema>div:nth-child(2){
    
    margin-right: 3%;
   
   }
   




.cinema>div:nth-child(2)>.cinema_title{

    height: 20%;
    display: flex;


}


.cinema_title>div:nth-child(1){

    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.cinema_title>div:nth-child(2){

    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
}


.cinema_title>div:nth-child(3){

    width: 40%;
    display: flex;
}



.cinema_title>div:nth-child(3)>div{


    flex: 1;
    background-image: url(img/팝콘.png);
    background-repeat: no-repeat;/* 배경 이미지 1개 */
    background-position: center;
}







.cinema>div:nth-child(2)>.cinema_description{

    height: 60%;
    background-color: #FFF2F2;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15%;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}



.cinema_description>div>div{

    padding-bottom: 5%;
    /* 줄 간격 */

}













/* 상영중인 영화 */


.screening_movie{

    height: 29.9%

}



.screening_movie>div:nth-child(1){

    /* 제목 칸*/

    height: 10%;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5%;

}



.screening_movie>.screening_movie_detail{

    /*영화 칸  */

    height: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    padding: 2%;
  
}



.screening_movie_detail>div{

    /* 영화 가로줄 */
    flex: 1;
    display: flex;


}


.screening_movie_detail>div>div{

    /* 영화 줄 칸 */
    flex: 1;


}


.screening_movie_detail>div>div:nth-child(1){

    /* 영화 이미지 칸 */

    display: flex;
    justify-content: center;
    align-items: center;


}




.screening_movie_detail>div>div>img{

    /* 영화 이미지 */
    width: 35%;
    height: 70%;

}



.screening_movie_detail>div>div:nth-child(2){

    /* 영화 설명 칸*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.screening_movie_detail>div>div:nth-child(2)>div{

    /* 영화 설명 칸 글자 줄*/
    padding: 0.5%;
    font-size: 1.5rem;


}

.screening_movie_detail>div>div:nth-child(2)>div:nth-child(1){

    /* 영화 설명 칸 글자 첫번째 줄*/
    padding-bottom: 5%;



}




#img_checkbox{
    /*체크박스 이미지  */
    background-image: url(img/팝콘.png);

}






/**********************************/

.FaSa {
    display: flex;
    flex-direction: column;
    width: 1;
    height: 14.7%;
}

.FSL1 {
    display: flex;
    flex-basis: 21.76%;
}

.FSL2 {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl2-1 {
    flex-basis: 60%;
    padding: 0;
}

.fsl2-1 img {
   margin-left: 6%;
   margin-top: 3%;
   margin-bottom: 0;
}

.fsl2-2 {
    flex-basis: 60%;
}

.FSL3 {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl3-1 {
    flex-basis: 60%;
    padding: 0;
}

.fsl3-1 img {
    margin-top: 3%;
    margin-left: 6%;
    margin-bottom: 0;
}

.fsl3-2 {
    flex-basis: 40%;
}

.FSL4 {
    display: flex;
    flex-basis: 17.14%;
    flex-direction: column;
}

.fsl4-1 {
    flex-basis: 50%;
}

.fsl4-2 {
    flex-basis: 50%;
}

.fsl4-2 img {
    margin-top: 3%;
    margin-left: 6%;
}

.FSL5 {
    display: flex;
    flex-basis: 27.5%;
}

.Fsl5 {
    display: flex;
    margin-top: 3%;
    margin-left: 6%;
}

.fsl5-1 {
    display: flex;
    width: 698px;
    height: 100px;
    background-image: url(img/bar.png);
}

.fsl5-1 img {
    margin-left: 0;
    margin-top: 3%;
}


.fsl5-2 img {
    margin-left: 1%;
    margin-top: 50%;
}


#fs1 {
    font-size: 3rem;
    margin-top: 2%;
    margin-left: 6%;
}




#ff6 {
    margin-left: 6% ;
    color: black;
    font-size: 1rem;
    margin-top: 5%;
}

input.iii {
    margin-top: 2%;
    margin-left: 5%;
    padding: 0;
    margin-right: 0;
    width: 30%;
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 효과 제거 (선택 사항) */
}


.FaSaX {
    display: flex;
    flex-direction: column;
    width: 1;
    height: 14.7%;
}

.FSL1X {
    display: flex;
    flex-basis: 21.76%;
}

.FSL2X {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl2-1X {
    flex-basis: 60%;
    padding: 0;
}

.fsl2-1X img {
   margin-left: 6%;
   margin-top: 3%;
   margin-bottom: 0;
}

.fsl2-2X {
    flex-basis: 60%;
}

.FSL3X {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl3-1X {
    flex-basis: 60%;
    padding: 0;
}

.fsl3-1X img {
    margin-left: 6%;
    margin-top: 3%;
    margin-bottom: 0;
}

.fsl3-2X {
    flex-basis: 40%;
}

.FSL4X {
    display: flex;
    flex-basis: 17.14%;
    flex-direction: column;
}

.fsl4-1X {
    flex-basis: 50%;
}

.fsl4-2X {
    flex-basis: 50%;
}

.fsl4-2X img {
    margin-left: 6%;
    margin-top: 3%;
}

.FSL5X {
    display: flex;
    flex-basis: 27.5%;
}

.Fsl5X {
    display: flex;
    margin-top: 3%;
    margin-left: 6%;
}

.fsl5-1X {
    display: flex;
    width: 698px;
    height: 100px;
    background-image: url(img/bar.png);
}

.fsl5-1X img {
    margin-left: 0;
    margin-top: 3%;
}

.fsl5-2X {
    width: 100px;
    height: 100px;
}

.fsl5-2X img {
    margin-left: 1%;
    margin-top: 50%;
}

#fs1X {
    font-size: 3rem;
    margin-top: 2%;
    margin-left: 6%;
}

#fffX {
    margin-left: 6%;
}




input.iiiX {
    margin-top: 2%;
    margin-left: 5%;
    padding: 0;
    margin-right: 0;
    width: 30%;
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 효과 제거 (선택 사항) */
}




/**********************************/







/* 메뉴 추천 */

.recommended_menu{

    height: 25.5%;

}




.recommended_menu>div:nth-child(1){
    /* 메뉴 제목 */
    
    height: 10%;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 5%;

}





.recommended_menu>div:nth-child(2){
    /* 메뉴 칸 */
    
    height: 80%;
    display: flex;
    flex-direction: column;


}


.recommended_menu>div:nth-child(2)>div{
    /* 메뉴 음식 줄 */
    flex: 1;
    display: flex;
  


}


.recommended_menu>div:nth-child(2)>div>div{
    /* 메뉴 음식 줄 칸 */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  

}




.recommended_menu>div:nth-child(2)>div>div:nth-child(1){
    /* 메뉴 음식 줄 제목 칸 */

    font-size: 2rem;



}














/* -------------- */






/* 댓글 등록 */


.comment{

    height: 10%;


}

.comment fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: black;
    height: 100%;
    margin-right: 30%;

}




#menuForm{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 80%;
    border-radius: 20px;
    


}




/* 평점선택 */
#rating{
    width: 20%;
    


}


/* 등록 버튼 */
#submit{
    background-image: url(img/write.png);
    background-repeat: no-repeat;/* 배경 이미지 1개 */
    background-position: center;
    width: 100px;
    height: 100px;
    border: 0px;
 




}

.comment fieldset form label {
   
    margin-right: 1%;
}




/* 메뉴선택과 평점선택 사이 띄우기 */
.comment fieldset form label[for="rating"] {
   
    margin-left: 10%;
}









.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
  }
   
  .star-rating input {
    display: none;
  }
   
  .star-rating label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
  }
   
  .star-rating :checked ~ label {
    -webkit-text-fill-color: gold;
  }
   
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
  }
  
