* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #101322;
    color: #FFFFFF;
    height: 6490px;

}

button {
    cursor: pointer;
}

header {
    
    height: 108px;
    display: flex;
    
}

header>a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}


/* 검색창 */
nav{
    width: 80%;
    padding-top: 20px;
    
}

nav>form{

    align-items: center;
    justify-content: center;
    display: flex;


}


#search{
    height: 60%;
    width: 80%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
  
}



input{
    width: 100%;
    height: 60%;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 50px;
    font-weight: bold;
}

#search>button{
    position: absolute;
    border: none;
    outline: none;
    background: none;
    margin-left: 90%;


}



nav>div:nth-child(2){

    height: 40%;
    display: flex;
    justify-content: center;
}



nav>div:nth-child(2)>a{

    padding: 0 100px;

}





header>div{
    width: 20%;
    display: flex;
}


header>div>div{
    
    flex: 1;
 
    display: flex;
    align-items: end;

   
}

header>div>div:nth-child(1){

    align-items: center;


}


#login_button{

    height: 73px;
    width: 160px;
    border-radius: 30px 30px;
    font-size: 24px;
    font-weight:bold;
    background-color: white;
    font-weight:bold;

}


#user_button{

    background: none;
    border: none;
    padding-bottom: 3px;

}

main{
    margin: 50px 163px;
   
    height: 90%;
    display: flex;
    flex-direction: column;

}


main>section{
  

   
   margin: 50px 0;
   background-color: #383B3E;
   border-radius: 20px;


}




/* 영화관 설명페이지*/

.cinema{



    height: 651px;
    display: flex;
    background-color: #6A5A56;
    
}



.cinema>div{
    flex: 1;


}




.cinema>div:nth-child(1){
 display: flex;
 justify-content: center;
 align-items: center;

}

#cgv_yongsan{

    width: 682px;
    height: 500px;

}


.cinema>div:nth-child(2){
    
    margin-right: 50px;
   
   }
   




.cinema>div:nth-child(2)>.cinema_title{

    height: 20%;
    display: flex;


}


.cinema_title>div:nth-child(1){

    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.cinema_title>div:nth-child(2){

    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px
}


.cinema_title>div:nth-child(3){

    width: 40%;
    display: flex;
}



.cinema_title>div:nth-child(3)>div{


    flex: 1;
    background-image: url(img/팝콘.png);
    background-repeat: no-repeat;/* 배경 이미지 1개 */
    background-position: center;
}







.cinema>div:nth-child(2)>.cinema_description{

    height: 60%;
    background-color: #FFF2F2;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15%;
    color: black;
    font-size: 19.37px;
    font-weight: 600;
}



.cinema_description>div>div{

    padding-bottom: 30px;
    /* 줄 간격 */

}













/* 상영중인 영화 */


.screening_movie{

    height: 1607px;

}



.screening_movie>div:nth-child(1){

    /* 제목 칸*/

    height: 10%;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 100px;

}



.screening_movie>.screening_movie_detail{

    /*영화 칸  */

    height: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding: 2%;
  
}



.screening_movie_detail>div{

    /* 영화 가로줄 */
    flex: 1;
    display: flex;


}


.screening_movie_detail>div>div{

    /* 영화 줄 칸 */
    flex: 1;


}


.screening_movie_detail>div>div:nth-child(1){

    /* 영화 이미지 칸 */

    display: flex;
    justify-content: center;
    align-items: center;


}




.screening_movie_detail>div>div>img{

    /* 영화 이미지 */
    width: 218.09px;
    height: 318.71px;

}



.screening_movie_detail>div>div:nth-child(2){

    /* 영화 설명 칸*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.screening_movie_detail>div>div:nth-child(2)>div{

    /* 영화 설명 칸 글자 줄*/
    padding: 0.5%;
    font-size: 30px;


}

.screening_movie_detail>div>div:nth-child(2)>div:nth-child(1){

    /* 영화 설명 칸 글자 첫번째 줄*/
    padding-bottom: 5%;



}




#img_checkbox{
    /*체크박스 이미지  */
    background-image: url(img/팝콘.png);

}






/**********************************/

.FaSa {
    display: flex;
    flex-direction: column;
    width: 1;
    height: 800px;
}

.FSL1 {
    display: flex;
    flex-basis: 21.76%;
}

.FSL2 {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl2-1 {
    flex-basis: 60%;
    padding: 0;
}

.fsl2-1 img {
   margin-left: 100px;
   margin-top: 25px;
   margin-bottom: 0;
}

.fsl2-2 {
    flex-basis: 60%;
}

.FSL3 {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl3-1 {
    flex-basis: 60%;
    padding: 0;
}

.fsl3-1 img {
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 0;
}

.fsl3-2 {
    flex-basis: 40%;
}

.FSL4 {
    display: flex;
    flex-basis: 17.14%;
    flex-direction: column;
}

.fsl4-1 {
    flex-basis: 50%;
}

.fsl4-2 {
    flex-basis: 50%;
}

.fsl4-2 img {
    margin-left: 100px;
}

.FSL5 {
    display: flex;
    flex-basis: 27.5%;
}

.Fsl5 {
    display: flex;
    margin-top: 80px;
    margin-left: 180px;
}

.fsl5-1 {
    display: flex;
    width: 698px;
    height: 100px;
    background-image: url(/js_dh.movieS/img/bar.png);
}

.fsl5-1 img {
    margin-left: 0;
    margin-top: 23px;
}

.fsl5-2 {
    width: 100px;
    height: 100px;
}

.fsl5-2 img {
    margin-left: 5px;
    margin-top: 80px;
}

#fs1 {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 80px;
}

#fff {
    margin-left: 100px;
}

#ff5 {
    margin-left: 50px;
    margin-top: 33px;
    color: black;
    font-size: 15px;
}

#ff6 {
    margin-left: 100px ;
    color: black;
    font-size: 15px;
    margin-top: 33px;
}

input.iii {
    margin-top: 15px;
    margin-left: 30px;
    padding: 0;
    margin-right: 0;
    width: 300px;
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 효과 제거 (선택 사항) */
}


.FaSaX {
    display: flex;
    flex-direction: column;
    width: 1;
    height: 800px;
}

.FSL1X {
    display: flex;
    flex-basis: 21.76%;
}

.FSL2X {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl2-1X {
    flex-basis: 60%;
    padding: 0;
}

.fsl2-1X img {
   margin-left: 100px;
   margin-top: 25px;
   margin-bottom: 0;
}

.fsl2-2X {
    flex-basis: 60%;
}

.FSL3X {
    display: flex;
    flex-basis: 16.8%;
    flex-direction: column;
}

.fsl3-1X {
    flex-basis: 60%;
    padding: 0;
}

.fsl3-1X img {
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 0;
}

.fsl3-2X {
    flex-basis: 40%;
}

.FSL4X {
    display: flex;
    flex-basis: 17.14%;
    flex-direction: column;
}

.fsl4-1X {
    flex-basis: 50%;
}

.fsl4-2X {
    flex-basis: 50%;
}

.fsl4-2X img {
    margin-left: 100px;
}

.FSL5X {
    display: flex;
    flex-basis: 27.5%;
}

.Fsl5X {
    display: flex;
    margin-top: 80px;
    margin-left: 180px;
}

.fsl5-1X {
    display: flex;
    width: 698px;
    height: 100px;
    background-image: url(/js_dh.movieS/img/bar.png);
}

.fsl5-1X img {
    margin-left: 0;
    margin-top: 23px;
}

.fsl5-2X {
    width: 100px;
    height: 100px;
}

.fsl5-2X img {
    margin-left: 5px;
    margin-top: 80px;
}

#fs1X {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 80px;
}

#fffX {
    margin-left: 100px;
}

#ff5X {
    margin-left: 50px;
    margin-top: 33px;
    color: black;
    font-size: 15px;
}

#ff6X {
    margin-left: 100px ;
    color: black;
    font-size: 15px;
    margin-top: 33px;
}

input.iiiX {
    margin-top: 15px;
    margin-left: 30px;
    padding: 0;
    margin-right: 0;
    width: 300px;
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 효과 제거 (선택 사항) */
}



/**********************************/







/* 메뉴 추천 */

.recommended_menu{

    height: 1380px;

}




.recommended_menu>div:nth-child(1){
    /* 메뉴 제목 */
    
    height: 10%;
    font-size: 48.4px;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 5%;

}





.recommended_menu>div:nth-child(2){
    /* 메뉴 칸 */
    
    height: 80%;
    display: flex;
    flex-direction: column;


}


.recommended_menu>div:nth-child(2)>div{
    /* 메뉴 음식 줄 */
    border: 1px black solid;
    flex: 1;
    display: flex;
  


}


.recommended_menu>div:nth-child(2)>div>div{
    /* 메뉴 음식 줄 칸 */
    border: 1px black solid;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  

}




.recommended_menu>div:nth-child(2)>div>div:nth-child(1){
    /* 메뉴 음식 줄 제목 칸 */

    font-size: 40px;



}














/* -------------- */






/* 댓글 등록 */


.comment{

    height: 10%;


}


.comment form fieldset{

    display: flex;
    align-items: center;
    justify-content: center;
    border: red;


}

#write{
/* 댓글 작성 입력 창 */
border: #101322;

    width: 30%;

}